@page
@model BookStore.Pages.PurchaseModel
@{
}

<h2>Your cart</h2>

<table class="table table-bordered table-striped">
    
    <!--column names-->
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <!--items in cart-->
    <tbody>
        @foreach (var i in Model.shoppingCart.Items)
    {
        <tr>
            <td>@i.Book.Title</td>
            <td>@i.Quantity</td>
            <td>@i.Book.Price.ToString("c")</td>
            <td>@((i.Quantity * i.Book.Price).ToString("c"))</td>
        </tr>
    }
    </tbody>

    <!--total for purchase-->
    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.shoppingCart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<!--button for returning to shopping-->
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>